html {
  font-size: 12px;
}

a, a small{
    color:green;
}

a.normal-link{
  color:#181918;
}

a.green-link{
  color: #488c31;
  font-weight: bold;
}

/** bootstrap css override**/
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -2.25rem;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 10px;
}
/** bootstrap css override**/

.white-font{
  color:white;
}

.index-footer{
  bottom: 0px;
  position: fixed;
  width: calc(100%);
  overflow: auto;
  border-top: 1px solid #25272530;
}

.index-header{
  top: 0px;
  position: fixed;
  width: calc(100%);
  overflow: auto;
  border-bottom: 1px solid #25272530;
}

.home{
  top: 91px;
  bottom: 45px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.orders,.accounting,.help{
  top: 0px;
  bottom: 45px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.home-bottom{
  bottom:110px;
}

.home-cart-footer{
  bottom: 45px;
  position: fixed;
  width: calc(100%);
  overflow: auto;
  border-top: 1px solid #d64d6d;
  background-color: #d64d6d;
  color: white;
  font-size: 12px;
}

.product-list-cart-footer,.my-cart-footer,.mysubscriptions-actions-footer{
  bottom: 0px;
  position: fixed;
  width: calc(100%);
  overflow: auto;
  border-top: 1px solid #25272530;
  background-color: #d64d6d;
  color: white;
  font-size: 12px;
}

.home-cart-footer .btn-outline-danger,.product-list-cart-footer .btn-outline-danger,.my-cart-footer .btn-outline-danger,.mysubscriptions-actions-footer .btn-outline-danger{
  color: #dc3545;
  border-color: #dc3545;
  background-color: white;
  border-radius: 18px;
  font-size: 12px;
}

.top-bar{
  font-size: 20px;
}

.top-bar .menu-option{
  padding:7px 15px;
}

.search-box{
  padding: 0.75rem;
}

.search-box input{
  font-size: 12px;
}

.footer-menu span{
  font-size: 12px;
  display: block;
  text-indent: 0.5rem;
}

.footer-menu{
  color: #00000069;
  padding: 0.3rem;
  text-align: center;
}

.footer-menu-active{
  color: #22963c;
  font-weight: 700;
}

.guest-user-menu,.login-user-menu{
  font-size:13px;
}

#all-mliks,#all-deals{
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 0.2rem;
}

.product-item{
  background:white;
  font-size:12px;
  padding:0.5rem;
}

.product-item .light, #user-menu .light,#user-profile .light,#user-profile-otp .light,.account-book-content .light{
  color: #8a7f7f;
}

.product-item .dark, #user-menu .dark, #user-profile .dark,#user-profile-otp .dark{
  color: black;
  font-weight: bold;
}

.product-item .product-item-btns-holder{
  padding: 0px;
  margin: 0px;
}

.product-item .btn-subscribe,.btn-login{
  color: #fff;
  background-color: #22963c;
  border-color: #22963c;
  font-size: 11px;
  padding: 0.5rem;
  border-radius: 8px;
  width: calc(90%);
}

.product-item .btn-buy-once{
  width:calc(100%);
  font-size: 11px;
  padding: 0.3rem;
}

.category-item{
  background: white;
  font-size: 12px;
  padding: 0.25rem 0.15rem;
  border: 3px solid #25272521;
}

.suggestion-item{
  background: white;
  font-size: 12px;
  padding: 0.5rem;
  border-bottom: 1px solid #25272521;
}

.catagories-content{
  padding: 0.5rem;
  top: 43px;
  bottom: 0px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.search-results,.search-suggestions{
  background: #25272521;
  width:calc(100%);
}

.products-header,.my-account-header,.subscription-cart-header,.order-cancel-delivery-header, .my-subscriptions-header,.mysubscriptions-action-header,.accounting-actions-header,.help-action-header,.address-update-header{
  position: fixed;
  top:0px;
  width: calc(100%);
  font-weight: 600;
  font-size: 13px;
  color: #010115;
}

.accounting-header,.help-header,.search-header{
  position: fixed;
  top:0px;
  width: calc(100%);
  background-color: white;
  font-weight: 600;
  font-size: 13px;
  color: #010115;
}

.product-content{
  padding: 0.5rem;
  top: 78px;
  bottom: 0px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.product-content-bottom{
  bottom: 60px;
}

.my-account-content,.subscription-cart-content-success,.cart-content-success,.my-profile-cotent,.payment-options-content{
  padding: 0.5rem;
  top: 43px;
  bottom: 0px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
}

.cancel-delivery-content,.my-subscriptions-content,.mysubscriptions-action-content,.accounting-action-content,.help-action-content,.address-update-cotent{
  padding: 0.5rem;
  top: 43px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  bottom:0px;
}

.my-cart-content{
  padding: 0.5rem;
  top: 43px;
  bottom: 60px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
}

.subscription-cart-content{
  padding: 0.5rem;
  top: 43px;
  bottom: 0px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
}

.subscription-cart-content-bottom{
  bottom: 58px;
}

.subscription-cart-footer{
  background-color: #d64d6d;
  position: fixed;
  bottom: 0px;
  width: calc(100%);
  color: white;
}

.subscription-cart-footer button{
  color: #7d144a;
  background-color: white;
  border-radius: 25px;
}

.product-content .product-item,.search-results .product-item {
  background: white;
  font-size: 12px;
  padding: 0.5rem;
  border: 4px solid #25272521;
  max-height: 320px;
}

.product-subcatagory-header{
  overflow-x: auto;
  overflow-y: hidden;
}

.product-sub-catagory{
  color: #8a7f7f;
  padding: 1rem;
  margin-right: 0.5rem;
  width: auto;
  white-space: nowrap;
}

.product-subcatagory-header .active{
  border-bottom:3px solid green;
}

.modal-dialog-full-width {
   width: 100% !important;
   height: 100% !important;
   margin: 0 !important;
   padding: 0 !important;
   max-width:none !important;

}
.modal-content-full-width  {
   height: auto !important;
   min-height: 100% !important;
   border-radius: 0 !important;
   background-color: white !important
}

.modal-header-full-width  {
   border-bottom: 1px solid #e4dbdb  !important;
}

.modal-footer-full-width  {
   border-top: 1px solid white !important;
}

#user-menu{
  width: calc(80%);
  overflow: hidden;
}

#user-menu .user-menu-header{
  background-color: #9ea29e21;
}

#user-profile .modal-content-full-width-guest,#user-profile-otp  .modal-content-full-width {
   height: auto !important;
   min-height: 100% !important;
   border-radius: 0 !important;
   background: rgb(113,226,33);
   background: radial-gradient(circle, rgba(113,226,33,0.8687850140056023) 0%, rgba(95,181,35,1) 35%, rgba(96,198,24,1) 100%);
}

#user-profile .white-text,#user-profile-otp .white-text{
  color: white;
  font-size: 1.3em;
}

#user-profile .login-form,#user-profile-otp .login-form {
  position: fixed;
  bottom: 0;
  min-height: 150px;
  margin: 0rem 0.5rem !important;
  background-color: white;
  width:calc(96%);
}

#user-profile .login-form input,#user-profile-otp .login-form input{
  border: none;
  border-bottom: 1px solid #ced4da;
}

#login-mobile-OTP{
  text-indent: 15px;
  letter-spacing: 20px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 30px 0.5px;
  background-repeat: repeat-x;
  background-position-x: 0px;
  width: auto;
}

#login-mobile:focus,#login-mobile-OTP:focus{
    color: #495057;
    background-color: #fff;
    box-shadow: none;
}

.home-info{
  background-color: white;
  width: calc(92%);
  margin: auto;
  font-size: 12px;
  color: #808080c9;
}

.my-cart-info{
  background-color: white;
  width: calc(98%);
  margin: auto;
  font-size: 12px;
  color: #808080c9;
}

#user-profile .modal-content-full-width-logedin{
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background: rgb(255,255,255);
}

.accounting-content,.help-content{
  top: 42px;
  bottom: 45px;
  position: fixed;
  background-color: #f1f1f1f2;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.search-content{
  top: 53px;
  bottom: 45px;
  position: fixed;
  background-color: #f1f1f1f2;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

#search .home-bottom{
  bottom: 110px;
}

#user-profile .my-account-content .section, #subscription-cart .section,.subscription-cart-content-success .section,.my-cart-content .section,.cart-content-success .section,.cancel-delivery-content .section,.my-subscriptions-content .section,.mysubscriptions-action-content .section,.accounting-content .section,.accounting-action-content .section,.account-book-content .section,.help-content .section,.help-action-content .section,.address-update-cotent .section,.my-profile-cotent .section,.payment-options-content .section{
  background-color: white;
  width: calc(100%);
  margin-bottom: 1rem;
}

#user-profile .my-account-content .section .hr, #subscription-date-block .hr,.subscription-cart-content-success .hr,.my-cart-content .hr,.cart-content-success hr,.my-subscriptions-content .hr,.mysubscriptions-action-content .hr,.accounting-content .hr,.accounting-action-content .hr,.account-book-content .hr,.help-content .hr,.help-action-content .hr,.address-update-cotent .hr{
  border-bottom: 1px solid #80808047;
}

#user-profile .my-account-content .section .my-account-icon{
  opacity: 0.4;
}

#user-profile .my-account-content .section .rounded-icon{
  padding: 8px;
  background-color: #98f19859;
  border-radius: 30px;
  color: #28a745;
  font-size: 16px;
  margin-top: -20px;
}

.prod-quantity-control,.my-cart-quantity-control,.my-subscriptions-actions-quantity-control{
  font-size: 18px;
  color: #797980;
}

.buy-once-prod-quantity-control{
  font-size: 15px;
  color: #797980;
  width: calc(92%);
}

.prod-quantity-control i,.buy-once-prod-quantity-control i,.my-cart-quantity-control i,.my-subscriptions-actions-quantity-control i{
  font-weight: 600;
}

.prod-quantity-control i.inactive,.buy-once-prod-quantity-control i.inactive,.my-cart-quantity-control i.inactive,.my-subscriptions-actions-quantity-control i.inactive{
  color: #8080804f;
}

.weekly-subscription-start-date,.monthly-subscription-start-date{
  border: 1px solid #80808075;
}

#subscription-monthly-schedule-link-modal table tbody tr td.selected{
  background-color: #d4ead4;
}

#subscription-daily-schedule-link,#subscription-alternateday-schedule-link,#subscription-threedays-schedule-link,#subscription-weekly-schedule-link,#subscription-monthly-schedule-link{
  font-size:12px;
}


#subscription-weekly-schedule-link-modal .modal-dialog,#subscription-monthly-schedule-link-modal .modal-dialog{
  position: fixed;
 top: auto;
 right: auto;
 left: auto;
 bottom: 0;
 width: calc(100%);
 margin: 0px;
}

.orders-header{
  position: fixed;
  top:0px;
  width: calc(100%);
  background-color: white;
  font-weight: 600;
  font-size: 13px;
  color: #010115;
}

.orders-header #selected-date-btn{
  font-weight: 600;
  font-size: 13px;
  color: #010115;
}

.orders-content{
  top: 98px;
  bottom: 45px;
  position: fixed;
  background-color: #fbfbfb21;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

#orders-content-date{
  overflow-x: auto;
  overflow-y: hidden;
  top: 47px;
  background-color: white;
  width: calc(100%);
}

#orders-content-date .date.selected{
  background-color: #22963c;
  color: white;
}

.orders-content .order{
  background-color: white;
  width: calc(100%);
}

.orders-content .order .hr{
  border-bottom: 1px solid #80808047;
}

.orders-content .order .source{
  background-color: #f5f5f9;
  border: 1px solid #d9d9de59;
  padding: 1px !important;
  font-size: 11px;
  text-align: center;
}

.orders-content .order .light,.cancel-delivery-content .light,.my-subscriptions-content .light,.mysubscriptions-action-content .light,.accounting-content .light,.accounting-action-content .light,.help-action-content .light,.address-update-cotent .light{
  color:#bfb3b3;
}

.orders-content .order .to-be-delivered, .orders-content .order .cancelled{
  color: #f18282;
}

.orders-content .order .delivered,.orders-content .order .refunded{
  color: #22963c;
}

#set-today, #order-delivery-more-options{
  color: #2aad71;
  font-size:14px;
}

.mysubscriptions-btns .modify,.mysubscriptions-btns .delete{
  color: #22963c;
  border-right: 1px solid #22963c;
}

.mysubscriptions-btns .pause,.mysubscriptions-btns .resume{
  color: #22963c;
}

.just-border{
    border: 1px solid #ced4da;
    border-radius:10px;
}

.my-subscriptions-content .section .modified-notification{
  width: calc(95%);
  background-color: #ced4da24;
}

.accounting-balance{
  border-left: 2px solid #ced4dafa;
}

.accounting-balance.red,.accounting-action-content .red{
  color:red;
}

.accounting-balance.green,.accounting-action-content .green{
  color:green;
}

#advance-money-input,#accounting-resrve-money-input{
  border: none;
  border-bottom: 1px solid #ced4da;
}

.accounting-btn-holder{
  border: 4px solid #e0d6d661;
  background-color: white;
}

.accounting-btn{
  color: #28a745;
}

.accounting-btn i{
  font-size:20px;
  display: inline-block;
  padding:1rem;
  background-color: #deffde;
  border: 1px solid #deffde;
  border-radius: 20px;
}

.account-book-content{
  padding: 0.5rem;
  top: 43px;
  position: fixed;
  background-color: #25272521;
  width: calc(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  bottom:60px;
}

.account-book-footer{
  bottom: 0px;
  position: fixed;
  width: calc(100%);
  overflow: auto;
  border-top: 1px solid #cdd4c6;
  background-color: #cdd4c6;
  color: black;
  font-size: 12px;
}

.account-book-footer .send-account-book{
  background-color: white;
  color: #69e05b;
  border-radius: 20px;
  border-color: white;
}

.account-book-content .header .title{
  background-color: #e1e6e11c;
  padding: 1rem 0rem;
  text-align: center;
}

.account-book-content .details{
  padding: 0px !important;
  color: green;
  margin-top: -5px;
}

.help-content .help-menu{
  padding:1rem;
  font-weight: 500;
}

.help-content .help-menu .icon{
  padding: 8px;
  background-color: #98f19859;
  border-radius: 30px;
  color: #28a745;
  font-size: 16px;
  margin-top: -15px;

}

button.out-of-stock{
  background-color: #f1e0e0;
}

#ajax-loading-dialog .modal-dialog  .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #e9fbee;
  background-clip: padding-box;
  border: none;
  border-radius: .3rem;
  outline: 0;
}
/******* tweaks starts here***/

#subscription-weekly-schedule-link-modal.show, #subscription-monthly-schedule-link-modal.show,#ajax-loading-dialog.show{
  background-color: #80808080;
}

#subscription-resume-success-alert,#my-account-book-mail-sent,#ajax-error-alert,#check-otp-alert{
  top:0px;
  width:calc(100%);
  position: fixed;
  z-index: 9001;
}

#mysubscriptions-modify-step1.show,#mysubscriptions-modify-success.show,#mysubscriptions-delete-step1.show,#mysubscriptions-pause-success.show,#myaccounting-account-transaction-deatils.show{
  background-color: #80808096;
}
/******* On off switch starts***/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #28a745;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/***** On and Off switch ends *****/
